.icon-img {
  width: 46px;
  height: 46px;
  margin: 0 auto;
  /* border: 1px solid red; */
  /* margin-left: -1rem; */
}
.icon-img img {
  width: 100%;
}

@media only screen and (max-width: 430px) {
  .icon-img {
    width: 46px;
    height: 46px;
    margin-left: -0.7rem;
  }
}
